#container {
    margin: 25% auto;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 40vw;
    padding: 5em;
    border: none;
    border-radius: 6px;
    overflow: hidden;
}
body{
    overflow: hidden;
    padding: 10vw 0;
}

#userInput {
    height: 3em;
    width: 80%;
    padding: 0 .5em;
}

#add {
    margin: 1em 40%;
    transform: translateX(-50%);
    width: 10em;
    padding: .2em .5em;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

#taskContainer {
    padding-left: 2.5vw;
    margin-top: 2em;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5em;
    margin-bottom: .5em;
    width: 20vw;
    margin-right: 10vw;
}

.tasks p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    flex: 1 1 50%;
    margin: 0.5vw 0;
}

.tasks input[type="checkbox"] {
    margin-right: .5vw;
}

.tasks button {
    padding: .2vw .5vw;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    right: 6px;
}

.tasks button:hover {
    background-color: darkred;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    #container {
        width: 50vw;
    }
    .tasks {
        width: 25vw;
        margin-right: 5vw;
    }
}

@media (max-width: 992px) {
    body{
        padding: 30vw 0;
    }
    #container {
        width: 60vw;
    }
    .tasks {
        width: 30vw;
    }
}

@media (max-width: 768px) {
    body{
        padding: 30vw 0;
    }
    #container {
        width: 70vw;
    }
    #userInput {
        width: 100%;
    }
    .tasks {
        width: 40vw;
        margin-right: 2vw;
    }
}

@media (max-width: 576px) {
    body{
        padding: 30vw 0;
    }
    #container {
        width: 80vw;
        padding: 2em;
    }
    .tasks {
        width: 100%;
        margin-right: 0;
    }
    #add {
        width: 30%;
        margin: 1em 50%;
        transform: translateX(-50%);
    }
    #userInput {
        width: 100%;
    }
}
